
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  margin: 0 auto;
  padding: 100px 0;
  font-family: var(--font-family-main), sans-serif;
  font-size: 18px;
  background-color: var(--color-main-light, #fff);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--font-weight-normal) 'wght' var(--font-weight-bold);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-family-main), sans-serif;
    font-variation-settings: 'wght' var(--font-weight-normal) 'wght' var(--font-weight-bold);
  }
}


/* ------------------------------- HEADER ------------------------------- */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: var(--border, 2px solid) var(--color-main-dark, #000);
  padding: clamp(7.5rem, 2.462vw + 6.923rem, 8rem) clamp(0.875rem, 32.615vw - 6.769rem, 7.5rem);
  font-family: var(--font-family-accent), 'fantasy';
  text-transform: uppercase;
  background-color: var(--color-main-light, #fff);
}

.inline-size-flexible {
  inline-size: var(--inline-size-flexible);
}

.header__title {
  font-size: clamp(3.063rem, 4.923vw + 1.909rem, 4.063rem);
}

.header__subtitle {
  font-weight: var(--font-weight-normal, 400);
  font-size: clamp(0.875rem, 2.769vw + 0.226rem, 1.438rem);
  text-transform: uppercase;
  inline-size: max-content;
}


/* ------------------------------- MAIN ------------------------------- */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}


/* ------------------------------- CARD ------------------------------- */
.card {
  border: var(--border, 2px solid) var(--color-main-dark, #000);
  background-color: var(--color-main-light, #fff);
}

.card__title {
  padding: 4px 10px;
  font-family: var(--font-family-main), sans-serif;
  font-size: 18px;
  /* font-weight: var(--font-weight-bold, 700); */
  font-variation-settings: 'wght' var(--font-weight-bold, 700);
}

.card__image-box {
  position: relative;
  border-block-start: var(--border, 2px solid) var(--color-main-dark ,#000);
  border-block-end: var(--border, 2px solid) var(--color-main-dark, #000);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
  max-inline-size: 700px;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 24px;
  color: var(--color-label-dark, rgba(0, 0, 0, 0.5));
  font-family: var(--font-family-accent), 'fantasy';
  font-weight: var(--font-weight-normal, 400);
  font-size: 14px;
  text-shadow: 0 0 1px var(--color-label-light, rgba(255, 255, 255, 0.5));
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--color-label-light, rgba(255, 255, 255, 0.5)))
or (-webkit-text-stroke: 1px var(--color-label-light, rgba(255, 255, 255, 0.5)))) {
  .card__label {
  text-shadow: none;
  text-stroke: 1px var(--color-label-ight, rgba(255, 255, 255, 0.5));
  -webkit-text-stroke: 1px var(--color-label-light, rgba(255, 255, 255, 0.5));
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  padding: 25px;
}

.card__description {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.card__text {
  font-family: var(--font-family-main), sans-serif;
  /* font-weight: var(--font-weight-normal, 400); */
  line-height: 117%;
  font-variation-settings: 'wght' var(--font-weight-normal, 400);
}

.card__action-buttons-box {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}


/* ------------------------------- BUTTONS ------------------------------- */
.button {
  position: relative;
  border: var(--border, 2px solid) var(--color-main-dark, #000);
  overflow: hidden;
  color: var(--color-main-light, #fff);
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.5s ease;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-main-dark, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: var(--border, 2px solid) transparent;
  padding: 3px 0 0;
  transition: border 0.3s ease;
  max-block-size: 38px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-block-size: 38px;
  inline-size: 100%;
  max-inline-size: 130px;
}

.button-dialog-open {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  background-color: var(--color-main-light, #fff);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--color-main-light);
  font-family: var(--font-family-accent), 'fantasy';
  font-weight: var(--font-weight-normal, 400);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

/* --------------------- buttons status */
.button:not(.card__icon-button):hover::after {
  transform: translateX(0);
 }

 .button:hover .button__text {
  z-index: 1;
  /* color: var(--color-main-light, #fff);
  mix-blend-mode: difference; */
}

 .button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-main-dark, #000);
  outline: none;
  /* transition: box-shadow 0.5s ease; */
 }

.card__icon-button:focus-visible {
  border: var(--border, 2px solid) var(--color-main-dark, #000);
  box-shadow: none;
  /* transition: border 0.3s ease; */
}


/* ------------------------------- ICONS ------------------------------- */
/* .like-icon {
  transition: transform 0.5s ease-in-out;
} */

.floppy-icon {
  z-index: 1;
  mix-blend-mode: difference;
  block-size: 21px;
  inline-size: 21px;
}


/* ------------------------------- IMAGE-FILTERS ------------------------------- */
.filter-brightness {
  filter: brightness(80%);
}

.filter-contrast {
  filter: contrast(85%);
}

.filter-saturate {
  filter: saturate(130%);
}

.filter-sepia-multiple {
  filter: sepia(70%) contrast(90%) grayscale(50%);
}

.filter-opacity {
  filter: opacity(95%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-blur {
  filter: blur(2px);
}

.filter-grayscale {
  filter: grayscale(40%);
}


/* ------------------------------- MODAL-WINDOW ------------------------------- */
.page:has(.modal[open]) {
  overflow: hidden;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  max-inline-size: 353px;
}

.modal[open]::backdrop {
  backdrop-filter: brightness(25%);
}

.modal[open] .modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal[open] .floppy-icon {
  block-size: 39px;
  inline-size: 39px;
  mix-blend-mode: normal;
}

.modal[open] .modal__text {
  font-family: var(--font-family-accent), 'fantasy';
  font-weight: var(--font-weight-normal, 400);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: 234px;
}

.modal[open] .button-dialog-close {
  padding: 5px;
  text-transform: uppercase;
}


/* ------------------------------- MEDIA ------------------------------- */
@media (width <= 375px) {
/* --------------------- header */
  .inline-size-flexible {
    inline-size: 100vw;
  }

  .header {
    padding: clamp(6.25rem, 36.364vw - 1.023rem, 7.5rem) 14px;
  }

  .header__title {
    font-size: clamp(2.5rem, 16.364vw - 0.773rem, 3.063rem);
  }

/* --------------------- card */
  .card__label {
    top: 23px;
    right: 11px;
  }

/* --------------------- button */
  .button-dialog-open {
    flex-direction: column;
    min-inline-size: 306px;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

/* ---------------------- modal window */
  .modal[open] {
    padding: 30px 42px;
    max-inline-size: 341px;
  }

  .modal[open] .floppy-icon {
    flex-shrink: 0;
    inline-size: 39px;
    block-size: 39px;
  }

  .modal[open] .modal__text {
    min-inline-size: 198px;
  }

  .modal[open] .button-dialog-close {
    padding: 4px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .button:not(.card__icon-button):hover::after,
  .button::after {
    transition-duration: 2s;
  }
}
